<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>HOME</title>
  </head>
  <body>
    <nav>
      <ul>
        <img src="/images/logo.svg" alt="LOGO" width="260px" height="60px" />
        <p>Lugar para poner barra de búsqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <li><a href="/ofertas">Ofertas</a></li>
        <li><a href="/tiendas">Tiendas Oficiales</a></li>
        <li><a href="/vender">Vender</a></li>
        <li><a href="/ayuda">Ayuda</a></li>
        <br />
        <li><a href="/crearcuenta">Creá tu cuenta</a></li>
        <li><a href="/ingreso">Ingresá</a></li>
        <li><a href="/carrito">Mis compras</a></li>
      </ul>
    </nav>
    <main>
      <img src="images/home.jpg" alt="home" width="360" height="200" />
      <h4>Basado en tu última visita</h4>
      <img src="images/cafetera.jpg" alt="cafetera" width="300" height="200" />
      <p>$6.770</p>
      <p>40% off</p>
      <h5>Cafetera Moulinex</h5>
      <img src="images/mac.jpg" alt="Mac Pro 2019" width="300" height="200" />
      <p>$230.000</p>
      <p>20% off</p>
      <h5>MacBook Pro 2019</h5>
      <img src="images/celu.jpg" alt="Mac Pro 2019" width="300" height="200" />
      <p>$70.500</p>
      <p>10% off</p>
      <h5>Samsung Galaxy S10</h5>
      <img src="images/tv.jpg" alt="SmarTV" width="300" height="200" />
      <p>$23.200</p>
      <p>5% off</p>
      <h5>SmartTv Samsung 43"</h5>
      <h4>Sección de Ofertas</h4>
      <img src="images/cafetera.jpg" alt="cafetera" width="300" height="200" />
      <p>$6.770</p>
      <p>40% off</p>
      <h5>Cafetera Moulinex</h5>
      <img src="images/mac.jpg" alt="Mac Pro 2019" width="300" height="200" />
      <p>$230.000</p>
      <p>20% off</p>
      <h5>MacBook Pro 2019</h5>
      <img src="images/celu.jpg" alt="Mac Pro 2019" width="300" height="200" />
      <p>$70.500</p>
      <p>10% off</p>
      <h5>Samsung Galaxy S10</h5>
      <img src="images/tv.jpg" alt="SmarTV" width="300" height="200" />
      <p>$23.200</p>
      <p>5% off</p>
      <h5>SmartTv Samsung 43"</h5>
    </main>
    <footer>
      <h3>Pagá con tarjeta o efectivo</h3>
      <p>
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
        en puntos de pago. ¡Y siempre es seguro!
      </p>
      <h3>Envío gratis desde $ 2.500</h3>
      <p>
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles
        de productos. Es un beneficio de Mercado Puntos.
      </p>
      <h3>Seguridad, de principio a fin</h3>
      <p>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.
      </p>
      <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
    </footer>
  </body>
</html>
